on_force_close "detach"
simplified_ui true
pane_frames false
default_shell "zsh"
copy_on_select true
scrollback_editor "/usr/local/bin/nvim"

keybinds clear-defaults=true {
    normal {
        bind "Alt q" { Quit; }
        bind "Alt n" { NewPane; }

        bind "Alt x" { CloseFocus; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }

        bind "Alt H" { NewPane "Left"; }
        bind "Alt L" { NewPane "Right"; }
        bind "Alt J" { NewPane "Down"; }
        bind "Alt K" { NewPane "Up"; }

        bind "Alt w" { ToggleFloatingPanes; }

        bind "Alt ." { PreviousSwapLayout; }
        bind "Alt p" { NextSwapLayout; }

        bind "Alt a" { SwitchToMode "Pane"; }
        bind "Alt o" { SwitchToMode "Locked"; }
        bind "Alt s" { SwitchToMode "Scroll"; }
        bind "Alt g" { SwitchToMode "Session"; }
        bind "Alt t" { SwitchToMode "Tab"; }
        bind "Alt m" { SwitchToMode "Move"; }

        bind "Alt 1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "Alt 2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "Alt 3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "Alt 4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "Alt 5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "Alt 6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "Alt 7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "Alt 8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "Alt 9" { GoToTab 9; SwitchToMode "Normal"; }
    }

    shared_except "normal" "locked" "renamepane" "renametab" "entersearch" {
        bind "Esc" { SwitchToMode "Normal"; }
    }

    locked {
        bind "Alt o" { SwitchToMode "Normal"; }
    }

    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    pane {
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
    }

    move {
        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }

        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }

        bind "H" { Resize "Increase Left"; }
        bind "J" { Resize "Increase Down"; }
        bind "K" { Resize "Increase Up"; }
        bind "L" { Resize "Increase Right"; }

        bind "Alt h" { Resize "Decrease Left"; }
        bind "Alt j" { Resize "Decrease Down"; }
        bind "Alt k" { Resize "Decrease Up"; }
        bind "Alt l" { Resize "Decrease Right"; }
    }

    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    tab {
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }

        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }

        bind "h" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }

        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "b" { BreakPane; SwitchToMode "Normal"; }
        bind "]" { BreakPaneRight; SwitchToMode "Normal"; }
        bind "[" { BreakPaneLeft; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
    }

    scroll {
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "G" { ScrollToBottom; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "d" { PageScrollDown; }
        bind "u" { PageScrollUp; }
    }

    search {
        bind "G" { ScrollToBottom; SwitchToMode "Normal"; }

        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "d" { PageScrollDown; }
        bind "u" { PageScrollUp; }

        bind "n" { Search "down"; }
        bind "p" { Search "up"; }

        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }

    session {
        bind "s" { SwitchToMode "Scroll"; }
        bind "d" { Detach; }
        bind "g" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                    move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

themes {
    dracula {
        fg 248 248 242
            bg 40 42 54
            red 255 85 85
            green 80 250 123
            yellow 241 250 140
            blue 98 114 164
            magenta 255 121 198
            orange 255 184 108
            cyan 139 233 253
            black 0 0 0
            white 255 255 255
    }
    kanagawa {
        fg "#DCD7BA"
            bg "#1F1F28"
            red "#C34043"
            green "#76946A"
            yellow "#FF9E3B"
            blue "#7E9CD8"
            magenta "#957FB8"
            orange "#FFA066"
            cyan "#7FB4CA"
            black "#16161D"
            white "#DCD7BA"
    }
    kanagawa_wave {
        fg "#DCD7BA"        
        bg "#16161D"        
        black "#181820"     
        red "#E82424"       
        green "#98BB6C"     
        yellow "#E6C384"    
        blue "#7E9CD8"      
        magenta "#957FB8"   
        cyan "#6A9589"      
        white "#727169"     
        orange "#FFA066"    
    }
}

theme "kanagawa_wave"
