/* Rofi Configuration - Kanagawa Theme */

configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "kitty";
    drun-display-format: "{name}";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Windows";
}

@theme "kanagawa"
