.gitconfig
.config/nushell/history.sqlite3
.config/nushell/history.sqlite3-shm
.config/nushell/history.sqlite3
.config/nushell/history.sqlite3-shm
.config/nushell/history.sqlite3-wal
.config/nushell/history.txt
common/.config/tmux/plugins
